# Ignore everything
*

# ...Everything but my .vimrc and the .gitignore itself
!_vimrc
!.gitignore

# and .bash related files
!.bash*

# and .tmux
!.tmux*

# ctags
!.ctags

# ctags
!.gitconfig
!.gitignore_global

# zsh
!.oh-my-zsh
!.zshrc
!.zshrc.pre-oh-my-zsh

# Font
!InputNerdFont.ttf

# brew
!brew_install.sh
